* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

#log {
    width: 550px;
    height: 100%;
    color: black;
    bottom: 0;
    right: 0;
    font-size: 12px;
    text-align: left;
    background-color: white;
    position: absolute;
}

#container {
    height: 720px;
    width: 960px;
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
}

#statusBoard {
    background-color: white;
    color: black;
    height: 480px;
    width: 240px;
    display: block;
    border: 1px solid black;
    position: absolute;
    left: 0px;
    top: 0px;
}

.player-status-square {
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 5px;
}

.player-status-icon {
    height: 20px;
    width: auto;
    display: inline-block;
    float: right;
}

.player-status {
    font-size: 20px;
    border-bottom: 1px solid black
}

#qrCode {
    background-color: white;
    color: black;
    font-size: 12px;
    text-align: left;
    height: 238px;
    width: 240px;
    display: block;
    border: 1px solid black;
    position: absolute;
    left: 0px;
    top: 480px;
}

#board {
    width: 720px;
    height: 720px;
    background-color: white;
    display: block;
    margin: 0 auto;
    position: absolute;
    left: 240px;
    top: 0px;
}

#winnerBox {
    display: none;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    background-color: white;
}
